*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input {
  height: 40px;
  width: 250px;
  font-size: small;
}

#login-submit-btn{
  width: 250px;
  height: 40px;
  color:azure;
  background-color: black;
  border-radius: 4px;
}