body {
  font-family: Arial, Helvetica, sans-serif;
}

.fan-page-cards{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
 
}

.card {
  width: 400px;
  margin: 20px;
}

.btn {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

header {
  position: static;
  width: 100%;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  
}

#information {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 75% 15%;
  grid-template-areas: 
    "bio student-list";
  column-gap: 10%;
  
}
#bio {
  grid-area: bio;
}

#students {
  list-style: none;
  padding: 0;
}

h2 {
  padding-bottom: 5%;
}

#student-list {
  grid-area: student-list;
  
}


#cards {
}

.fan-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
}

